<h1>学生资料分享库</h1>
<%= javascript_include_tag :all %>

<table style="border: 1px solid black;border-collapse: collapse;width: 98.5%;">
<% @students.each do |s| %>
    <tr>
        <td style="font-size:20px;color:<%= s.color %>"><%= s.name %></td>
        <td><%= link_to '查看他/她的资料', :controller => 'students', :action => 'show', :id => s %></td>
        <td><%= link_to '更改', :controller => 'students', :action => 'edit', :id => s %></td>
        
    </tr>
   
<% end %>
</table>
 <%= link_to '学生资料添加', :controller => 'students', :action => 'new' %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>以下长方形为您的身高体重模型（底为体重，高为身高）：</p>
<div id="rec">
    <% @students.each do |p| %>
    
    <div class="rec" style="width:<%=p.weight %>px;height:<%= p.height %>px;display:inline-block;border:5px solid #000;border-color:<%= p.color %>;">
        
        
          <p style="color:<%= p.color %>;text-align:center"><%= p.name %></p>
          <p style="text-align:center"><%= p.gpa %></p>
          
     
        
    </div>
    <% end %>
</div>




