<h1>学生资料分享库 v2.0</h1>


<table style="border: 1px solid black;border-collapse: collapse;width: 98.5%;">
<% @students.each do |s| %>
    <tr>
        <td style="font-size:22px;color:<%= s.color %>"><%= s.name %></td>
        <td><%= link_to '查看他/她的资料', :controller => 'students', :action => 'show', :id => s %></td>
        <td><%= link_to '更改', :controller => 'students', :action => 'edit_secret_engine', :id => s %></td>


    </tr>
   
<% end %>
</table>
 <%= link_to '学生资料添加', :controller => 'students', :action => 'new' %>
 <br>
 <br>
<p>总共<%= @students.count %>人参与</p>

<% @h=0 %>
<% @w=0 %>
<% @ratio=0 %>
<% @students.each do |d| %>

    <% if d.weight.present? && d.height.present? %>
        <% @h=@h + d.height %>
        <% @w=@w + d.weight %>
    <% end %>


<% end %>
<p><%= @students.count %>个人的总身高<%= @h %>cm</p>
<p><%= @students.count %>个人的总体重<%= @w %>公斤</p>
<p>身高/体重比:<%= @h/@w %></p>
<% @ratio=@h/@w %>
<% if @ratio>1.7 %>
    <p>看来这帮家伙有点瘦! 😡</p>
<% elsif @ratio<1.3 %>
    <p>看来这帮家伙有点胖! 😆</p>
<% else %>
    <p>看来这帮家伙身材还行! 😄</p>
<% end %>



<br>
<br>
<br>
<br>
<div class="pic" style="width:100%;height:0px;border:5px solid #000;display:inline-block;border-color:green">
<div class="pic" style="width:100%;height:0px;border:5px solid #000;display:inline-block;border-color:orange">
<div class="pic" style="width:100%;height:0px;border:5px solid #000;display:inline-block;border-color:blue">
<div class="pic" style="width:100%;height:0px;border:5px solid #000;display:inline-block;border-color:gold">

<br>
<br>
<br>
<br>
<p>以下长方形为您的身高体重模型（底为体重，高为身高）：</p>
<div id="rec">
    <% @students.each do |p| %>
    <% if (p.height.present? && p.weight.present? && p.height<=350 && p.height>=10 && p.weight >= 10 && p.weight<= 500) %>
    
        <div class="rec" style="width:<%=p.weight %>px;height:<%= p.height %>px;display:inline-block;border:3px solid #000;border-color:<%= p.color %>;">
        
        
          <p style="color:<%= p.color %>;text-align:center"><%= p.name %></p>
          <p style="text-align:center"><%= p.gpa %></p>
          
     
        
        </div>
    <% end %>
    
</div>
<% end %>
