<h2><%= @student.name %>----个人信息</h2>


<table style="border: 1px solid black;border-collapse: collapse;width: 98.5%;">
			<tr>
				<th>姓名</th>
				<th>体重（斤）</th>
				<th>身高（cm）</th>
				<th>颜色</th>
				<th>Gpa</th>
				<th>性别</th>
				<th>自我介绍</th>
			<tr>
			<tr>
			    <td><%= @student.name %></td>
				<td><%= @student.weight %></td>
				<td><%= @student.height %></td>
				<td><%= @student.color %></td>
				<td><%= @student.gpa %></td>
				<td><%= @student.sex %></td>
			    <td><%= simple_format(@student.description) %></td>
				
			</tr>
</table>
<% @count=0 %>

<% if @student.weight.blank? %>
  <h4>请输入你的体重啊！</h4>
  <% @count=@count +1 %>
  <% end %> 
<% if @student.height.blank? %>
  <h4>请输入你的身高啊！</h4>
  <% @count=@count +1 %>
  <% end %> 
<% if @student.color.blank? %>
  <h4>请输入你喜欢的颜色（英语）啊！</h4>  
  <% @count=@count +1 %>
  <% end %> 
<% if @student.gpa.blank? %>
  <h4>请输入你的gpa啊！</h4> 
  <% @count=@count +1 %>
  <% end %> 
<% if @student.description.blank? %>
  <h4>请输入你的自我介绍啊！</h4>  
  <% @count=@count +1 %>
  <% end %> 
<% if @student.sex.blank? %>
  <h4>请输入你的性别啊！</h4>  
  <% @count=@count +1 %>

<% end %> 
<% if @count==6 %>
  <h4>你除了姓名啥都没输啊哥门儿！这有毛用啊</h4>
  <%= link_to '补充完整您的信息', :controller => 'students', :action => 'edit', :id => @student.id %>
  <% end %> 
  
<% if @count==0 %>
  <h4>您的信息完整。</h4>  
<% end %> 
<p></p><%= link_to '删除此人', :controller => 'students', :action => 'pswd2', :id => @student %></p>
<P><%= link_to '返回主页', :controller => 'students', :action => 'index' %></P>
