<h2><%= @student.name %>----个人信息</h2>
<table style="border: 1px solid black;border-collapse: collapse;width: 98.5%;">
			<tr>
				<th>姓名</th>
				<th>体重（斤）</th>
				<th>身高（cm）</th>
				<th>颜色</th>
				<th>Gpa</th>
				<th>性别</th>
				<th>自我介绍</th>
			<tr>
			<tr>
			    <td><%= @student.name %></td>
				<td><%= @student.weight %></td>
				<td><%= @student.height %></td>
				<td><%= @student.color %></td>
				<td><%= @student.gpa %></td>
				<td><%= @student.sex %></td>
			    <td><%= simple_format(@student.description) %></td>
				
			</tr>
</table>


<P><%= link_to '返回主页', :controller => 'students', :action => 'index' %></P>